<h1>User Agent Logs</h1>
<p>
  <%= link_to 'Refresh Table', user_agent_logs_path, :remote => true, class: 'button' %>
  <%= render partial: 'user_agent_logs/user_agent_logs_table', locals: { user_agent_logs: @user_agent_logs, user_agent_log: @user_agent_log} %>
</p>
